@page
@model MiniNotificationSystem.Pages.Grants.IndexModel

@{
    ViewData["Title"] = "Grant Notifications";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New Grant Notification</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrantInfo[0].GrantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantInfo[0].GrantMessage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.GrantInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrantName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantMessage)
            </td>
            <td>               
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
